{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'notes/css/styles.css' %}">
</head>
<body>
  <header>
    <div class="app-title">
      <div class="app-title-text">Mirror of Thought</div>
      <!-- Mirror of Th♢ught -->
    </div>
    <div class="mode-buttons">
      <div class="light-mode-border">
        <button class="light-mode">Light</button>
      </div>
      <div class="dark-mode-border">
        <button class="dark-mode">Dark</button>
      </div>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="{% static 'notes/js/scripts.js' %}"></script>
</html>