{% extends "base.html" %}

{% block title %}Mirror of Thought{% endblock %}

{% block content %}
<div class="tools">
  <div class="adjustment-buttons">
    <div class="textcolor">
      <div class="textcolor-label">Color</div>
      <div class="textcolor-picker-box">
        <input type="color" class="textcolor-picker" value="#ffffff">
      </div>
    </div>
    <div class="textsize">
      <div class="textsize-label">Size</div>
      <div class="textsize-input-box">
        <input type="number" class="textsize-input clickable" min="1" max="300" value="15">
      </div>
    </div>
  </div>
</div>
<div class="editor">
  <div class="user-input" contenteditable="true"></div>
  <button class="dive-deeper-button">Dive Deeper 💭</button>
</div>
{% endblock %}