{% extends "base.html" %}

{% block title %}思考の鏡{% endblock %}

{% block content %}
<div class="tools">
  <div class="adjustment-buttons">
    <div class="textcolor">
      <div class="textcolor-label">色</div>
      <div class="textcolor-picker-box">
        <input type="color" class="textcolor-picker" value="#ffffff">
      </div>
    </div>
    <div class="textsize">
      <div class="textsize-label">大きさ</div>
      <div class="textsize-input-box">
        <input type="number" class="textsize-input" min="1" max="300" value="15">
      </div>
    </div>
  </div>
</div>
<textarea class="editor" contenteditable="true"></textarea>
{% endblock %}